{% extends '::base.html.twig' %}
{% block body %}
    <a href="{{ path('app_apps_new') }}">Create application</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Api Key
            </th>
        </tr>
        </thead>
        {% for app in apps %}
            <tr>
                <td>
                    {{ app.name }}
                </td>
                <td>
                    {{ app.apiKey }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
