{% extends '::base.html.twig' %}
{% block body %}
    <form method="POST" action="{{ path('app_apps_create') }}" {{ form_enctype(form) }} class="form form-horizontal">
        {{ form_widget(form) }}
        <input type="submit"/></form>
{% endblock body %}
