{% extends 'App::layout.html.twig' %}

{% block subtitle 'Homepage' %}

{% block body %}
    <h1>Welcome to Snappy SaaS by KISS MY ASS(Keep it simple stupid, managed by yourself, a simple & superb)</h1>
    <a class="btn btn-large" href="{{ path('fos_user_registration_register') }}">Register</a>
    <a class="btn btn-large" href="{{ path('fos_user_security_login') }}">Login</a>
    <a class="btn btn-large" href="{{ path('app_apps_index') }}">Apps</a>
{% endblock body %}
