<div ng-if="errors.length" style="color: red;">
    <ul ng-if="errors[0].user.length" ng-repeat="error in errors[0].user">
        <li ng-if="error.email">{{ error.email[0] }}</li>
        <li ng-if="error.username">{{ error.username[0] }}</li>
        <li ng-if="error.plainPassword">{{ error.plainPassword[0] }}</li>
    </ul>
</div>

<form novalidate="true" ng-submit="submit(application)">
    <div class="form-group">
        <label for="application_email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="text" ng-model="application.user.email" class="form-control" id="application_email" placeholder="Your email">
            <div ng-repeat="error in errors[0].user[0].email" style="color: red;">{{ error }}<br></div>
        </div>
    </div>
    <div class="form-group">
        <label for="application_username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" ng-model="application.user.username" class="form-control" id="application_username" placeholder="Your username">
            <div ng-repeat="error in errors[0].user[1].username" style="color: red;">{{ error }}<br></div>
        </div>
    </div>
    <div class="form-group">
        <label for="application_password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" ng-model="application.user.plainPassword" class="form-control" id="application_password">
            <div ng-repeat="error in errors[0].user[2].plainPassword" style="color: red;">{{ error }}<br></div>
        </div>
    </div>
    <div class="form-group">
        <label for="application_name" class="col-sm-2 control-label">Application name</label>
        <div class="col-sm-10">
            <input type="text" ng-model="application.name" class="form-control" id="application_name" placeholder="The name of your application...">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Register!</button>
        </div>
    </div>
</form>
